<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/admin.css">
  </head>
  <body>
    <div class="menu_wrap">
      <div class="menu"><a href="#new">СОЗДАТЬ БУКЕТ</a><span>  | </span><a href="#list">ВСЕ БУКЕТЫ</a></div>
      <div class="menu"><a href="#newFlower">СОЗДАТЬ ЦВЕТОК</a><span>  | </span><a href="#listFlowers">ВСЕ ЦВЕТКИ</a></div>
      <div class="menu"><a href="#newEvent">СОЗДАТЬ СОБЫТИЕ</a><span>  | </span><a href="#listEvents">ВСЕ СОБЫТИЯ</a></div>
    </div>
    <div class="js-container"></div>

    <link rel="stylesheet" type="text/css" href="../styles/toastr.min.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/toastr.min.js"></script>
    <script type="text/javascript" src="../js/admin.js"></script>
  </body>
</html>
