<form action="#">
  <h1>Создать новый букет</h1>
  <div>
  	<label for='content'>Описание</label><br/>
  	<textarea type='text' rows="12" name='content' id='content' style='width: 400px'/>
  </div>

  <div>
  	<label for='price'>Цена, ₽</label><br/>
  	<input type='number' name='price' id='price'/>
  </div>

   <div>
  	<label for='src'>Путь к картинке</label><br/>
  	<input type='text' name='src' id='src' style='width: 400px'/>
   </div>

   <div>
  	<label for='isActive'>Активировать?</label><br/>
  	<input type='checkbox' name='isActive' id='isActive' />
   </div>

   <div>
  	<div id='sub'>Сохранить</div>
   </div>
</form>