<form action="#">
  <h1>Создать новый цветок</h1>
  <div>
  	<label for='content'>Описание</label><br/>
  	<textarea type='text' rows="12" name='content' id='content' style='width: 400px'/>
  </div>

   <div>
  	<label for='src' style='display:block;width: 120%;'>
      Путь к картинке (из папки 'проект/public/Downloads/Flowers/')
    </label>
  	<input type='text' name='src' id='src' style='width: 400px'/>
   </div>

   <div>
  	<label for='isActive'>Активировать?</label><br/>
  	<input type='checkbox' name='isActive' id='isActive' />
   </div>

   <div>
  	<div id='subFlower' class='sub_btn'>Сохранить</div>
   </div>
</form>