<div class='left_active'>
	<div class='left_active-text'>
		<span>Свадьба, день рождения близкого человека, выпускной бал или вечер в кругу друзей.</span><br/>
		<span>Эти моменты неповторимы. Множество, на первый взгляд, незначительных мелочей создают ту незабываемую атмосферу, благодаря которой мы вновь и вновь возвращаемся в наших воспоминаниях в этот день.</span>
		<br/><br/>
	    <span>Вы можете обратиться к нам за год до планируемого события или за неделю, заказать оформление банкета на сотни гостей или только букет. Мы с одинаковым вниманием отнесемся к Вашим пожеланиям.</span><br/>
	    <span>Свадебная флористика, приглашения и план рассадки гостей, стиль и цветовая палитра мероприятия. Все эти заботы мы возьмем на себя.</span><br/>

	    <span>Доверьте нам красоту и изящество Вашего торжества.</span>
    </div>
    <br />
    <div class='weddings'>
    	<div class='weddings_item-1 hovereffect_weddings'>
    	<div class='weddings-text'>Свадьба Ирины и Сергея в отеле Скандинавия</div>
    		<div class="overlay">
	             <a class="arrowWedding" href="#">
	                  <svg id="arrow-r" data-name="arrow-r" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 28">
	                  <polygon points="121 0 119 2 130 13 0 13 0 15 130 15 119 26 121 28 135 14 121 0"/></svg>
	              </a>
            </div>
    	</div>
    	<div class='weddings_item-2 hovereffect_weddings'>
    		<div class="overlay">
	             <a class="arrowWedding" href="#">
	                  <svg id="arrow-r" data-name="arrow-r" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 28">
	                  <polygon points="121 0 119 2 130 13 0 13 0 15 130 15 119 26 121 28 135 14 121 0"/></svg>
	              </a>
            </div>
    	</div>
    	<div class='weddings_item-3 hovereffect_weddings'>
    		<div class="overlay">
	             <a class="arrowWedding" href="#">
	                  <svg id="arrow-r" data-name="arrow-r" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 28">
	                  <polygon points="121 0 119 2 130 13 0 13 0 15 130 15 119 26 121 28 135 14 121 0"/></svg>
	              </a>
            </div>
    	</div>
    </div>
</div>