<div class='left_active'>
	<div class='left_active-text'>
		<span>Свадьба, день рождения близкого человека, выпускной бал или вечер в кругу друзей.</span><br/>
		<span>Эти моменты неповторимы. Множество, на первый взгляд, незначительных мелочей создают ту незабываемую атмосферу, благодаря которой мы вновь и вновь возвращаемся в наших воспоминаниях в этот день.</span>
		<br/><br/>
	    <span>Вы можете обратиться к нам за год до планируемого события или за неделю, заказать оформление банкета на сотни гостей или только букет. Мы с одинаковым вниманием отнесемся к Вашим пожеланиям.</span><br/>
	    <span>Свадебная флористика, приглашения и план рассадки гостей, стиль и цветовая палитра мероприятия. Все эти заботы мы возьмем на себя.</span><br/>

	    <span>Доверьте нам красоту и изящество Вашего торжества.</span>
    </div>
</div>