<div class='bouquet_container_main'>
	<svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><defs><style>.cls-1{fill:#1d1d1b;}</style></defs><title>load</title><path class="cls-1" d="M28,14c0,0.3,0,.7,0,1a13,13,0,1,1-4.6-9.9l0.3,0.2H21.3V7.3H27V1.6H25.1V3.9l-0.2-.2A15,15,0,1,0,30,15c0-.3,0-0.7,0-1H28Z" transform="translate(0 0)"/></svg>
</div>
<div class='flowers_container_slider'>
	<svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><defs><style>.cls-1{fill:#1d1d1b;}</style></defs><title>load</title><path class="cls-1" d="M28,14c0,0.3,0,.7,0,1a13,13,0,1,1-4.6-9.9l0.3,0.2H21.3V7.3H27V1.6H25.1V3.9l-0.2-.2A15,15,0,1,0,30,15c0-.3,0-0.7,0-1H28Z" transform="translate(0 0)"/></svg>
</div>

<div class='popUp'>
	<svg class='popUp-cross' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><polygon points="16 14 28 2 26 0 26 0 14 12 2 0 0 2 12 14 0 26 2 28 14 16 26 28 28 26 28 26 16 14"></polygon></svg>
	<img class='popUp-img' src='#' />
	<div class='popUp-text'>
		<div class='js-popUp-content'></div>
		<div class='js-popUp-price'></div>
		<p>
			Чтобы заказть этот букет просто позвоните нам по телефону <a href="tel:79117316703"><nobr>+7 911 731-67-03</nobr></a> или заполните форму обратной связи и мы скоро перезвоним вам для уточнения деталей заказа.
		</p>
	</div>

	<div class='popUp-bottomMarg'>
		<input type="text" placeholder="ИМЯ" name="fm_name" id="fm_name2">
		<input type="text" placeholder="ТЕЛЕФОН" name="fm_phone" id="fm_phone2">
		<input type="text" placeholder="E-MAIL" name="fm_mail" id="fm_mail2">
				
		<div class='radio_block'>
			<div>
	  			<input type="radio" class="radio" name='delivery' id="r_b_1" value="0" checked />
				<label for="r_b_1">Самовывоз</label>
	    	</div>
	    	<div>
	  			<input type="radio" class="radio" name='delivery' id="r_b_2" value="1" />
				<label for="r_b_2">Доставка</label>
	    	</div>
		</div>

		<div class='popUp-delivery'>
			<input type="text" placeholder="АДРЕС ДОСТАВКИ" name="fm_address" id="fm_address2">
			<input type="text" placeholder="ДАТА" name="fm_data" id="fm_data2" class="fm_inline">
			<input type="text" placeholder="ВРЕМЯ" name="fm_time" id="fm_time2" class="fm_inline">
		</div>
		<div class='fm_btn-wrap'>
			<span></span>
			<div class="fm_btn2">
				ЗАКАЗАТЬ
			</div>
		</div>
	</div>
</div>

<div class='popUp2'>
	<svg class='popUp-cross' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><polygon points="16 14 28 2 26 0 26 0 14 12 2 0 0 2 12 14 0 26 2 28 14 16 26 28 28 26 28 26 16 14"></polygon></svg>
	<img class='popUp-img' src='#' />
	<div class='popUp-text'>
		<div class='js-popUp-content'></div>
	</div>
</div>