<div>
	<span>Мы соберем букет специально для вас и доставим в удобное время, для этого просто позвоните нам по телефону <a href="tel:79117316703">+7 911 731-67-03</a></span><br/> 
	<span>или заполните форму обратной связи и мы скоро перезвоним вам сами для уточнения деталей заказа.</span>
</div>
<div>
<input type='text' placeholder='ИМЯ' name='fm_name' id='fm_name'></input>
<input type='text' placeholder='ТЕЛЕФОН' name='fm_phone' id='fm_phone'></input>
<input type='text' placeholder='E-MAIL' name='fm_mail' id='fm_mail'></input>
<input type='text' placeholder='АДРЕС ДОСТАВКИ' name='fm_address' id='fm_address'></input>
<input type='text' placeholder='ДАТА' name='fm_data' id='fm_data' class='fm_inline'></input>
<input type='text' placeholder='ВРЕМЯ' name='fm_time' id='fm_time' class='fm_inline'></input>
<div class='fm_btn'>
	ЗАКАЗАТЬ
</div>
</div>