<div class='right_active'>
	<div class='right_active-text'>
		<span>В магазине, ресторане, приемной или конференц-зале, свежие цветы помогут произвести благоприятное впечатление на клиентов Вашей компании и создать хорошее настроение Вашим сотрудникам.<span><br/> 
        <span>Пришлите нам список важных для Вас дат, дней рождения Ваших коллег и партнеров, и будьте уверены, что 		букет будет доставлен точно в назначенный срок.</span><br/>
        <span>Корпоративные поздравительные открытки, конверты, фирменные календари. Неповторимый дизайн этих,       		 казалось бы простых, вещей может сделать их предметом коллекционирования.</span><br />
        <span>Ознакомьтесь с партнерскими программами компании Desire event и выберите ту, что наиболее подходит Вам. Также мы можем создать индивидуальную программу для Вашей фирмы.</span><br/><br/>
		<span>Доверьте нам красоту и изящество Вашего рабочего дня.</span>
    </div>
    <div class='right_active-spacer'></div>
    <div class='foto_ex'>
    	<img class='foto_ex-1' src='../images/fl_01.png'/>
    	<img class='foto_ex-2' src='../images/fl_02.png'/>
    	<img class='foto_ex-3' src='../images/fl_03.png'/>
    	<img class='foto_ex-4' src='../images/fl_04.png'/>
    	<img class='foto_ex-5' src='../images/fl_05.png'/>
    </div>
</div>

<script type="text/javascript" src="../js/right_active.js"></script>