<div class='right_active'>
	<div class='right_active-text'>
		<span>В магазине, ресторане, приемной или конференц-зале, свежие цветы помогут произвести благоприятное впечатление на клиентов Вашей компании и создать хорошее настроение Вашим сотрудникам.<span><br/> 
        <span>Пришлите нам список важных для Вас дат, дней рождения Ваших коллег и партнеров, и будьте уверены, что 		букет будет доставлен точно в назначенный срок.</span><br/>
        <span>Корпоративные поздравительные открытки, конверты, фирменные календари. Неповторимый дизайн этих,       		 казалось бы простых, вещей может сделать их предметом коллекционирования.</span><br />
        <span>Ознакомьтесь с партнерскими программами компании Desire event и выберите ту, что наиболее подходит Вам. Также мы можем создать индивидуальную программу для Вашей фирмы.</span><br/><br/>
		<span>Доверьте нам красоту и изящество Вашего рабочего дня.</span>
    </div>
    <div class='right_active-spacer'></div>
     <div class='foto_ex'>
        <img class='foto_ex-1' src='../images/Живые цветы наполняют помещение ароматом свежести поднимают настроение и производительность труда Вы можете заключить договор доставки цветов в офис.jpg'/>
        <img class='foto_ex-2' src='../images/На протяжении всего года нас сопровождают различные праздники и памятные даты В калейдоскопе повседневных забот немудрено что-то упустить из виду.jpg'/>
        <img class='foto_ex-3' src='../images/Новый год, день рождения компании профессиональный праздник Мы поможем преобразить Ваш офис и создать праздничное настроение сотрудникам и клиентам.jpg'/>
    </div>
</div>

<script type="text/javascript" src="../build/right_active.js"></script>