<div class='right_active'>
	<div class='right_active-text'>
		<span>В магазине, ресторане, приемной или конференц-зале, свежие цветы помогут произвести благоприятное впечатление на клиентов Вашей компании и создать хорошее настроение Вашим сотрудникам.<span><br/> 
        <span>Пришлите нам список важных для Вас дат, дней рождения Ваших коллег и партнеров, и будьте уверены, что 		букет будет доставлен точно в назначенный срок.</span><br/>
        <span>Корпоративные поздравительные открытки, конверты, фирменные календари. Неповторимый дизайн этих,       		 казалось бы простых, вещей может сделать их предметом коллекционирования.</span><br />
        <span>Ознакомьтесь с партнерскими программами компании Desire event и выберите ту, что наиболее подходит Вам. Также мы можем создать индивидуальную программу для Вашей фирмы.</span><br/><br/>
		<span>Доверьте нам красоту и изящество Вашего рабочего дня.</span>
    </div>
    <div class='right_active-spacer'></div>
</div>