@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('../font/Proxima Nova/Proxima Nova Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../font/Proxima Nova/Proxima Nova Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url('../font/Proxima Nova/Proxima Nova Light Italic.otf');
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../font/Proxima Nova/Proxima Nova Light.otf');
}

@font-face {
  font-family: 'Cormorant Medium';
  src: url('../font/Cormorant/Cormorant-Medium.ttf');
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../font/Proxima Nova/Proxima Nova Regular.otf');
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #F8EDE9;
	position: relative;
}
a {text-decoration: none; color: #328B8E;}

.spacer {
    width: 50%;
    background: #FFF;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
}

.block {
	width: 50%;
	height: auto;
	display: inline-block;
	white-space: normal;
	position: relative;
	-webkit-transition: width 1s;
	transition: width 1s; 
}

.block img {
	width: 100%;
}

.block-left {
	float: right;
}

.f_m.active {
	bottom: -270px;
	background-color: #FFFFFF;
	height: 300px;
	width: 600px !important;
}

.f_m {
	position: absolute;
	background-color: #FFFFFF;
	width: 100%;
	min-height: 500px;
    top: 83%;
}

.f_m-content {
    background-color: #FFF;
    width: 600px;
    white-space: nowrap;
    height: 100%;
    position: relative;
}

.f_m-menu div {
	display: inline-block;
	padding: 20px 0;
	font-family: 'Proxima Nova Thin';
	font-size: 18px;
	white-space: normal;
	width: 50%;
	text-align: center;
	cursor: pointer;
}

.f_m_views {
	font-family: 'Proxima Nova Regular';
    font-size: 16px;
	padding: 50px 10px 10px 10px;
	min-height: 450px;
	background-color: #F6F6F6;
}

.f_m_delivery {
	display: none;
	white-space: normal;
}
.f_m_views input[type="text"]:first-child {
	margin-top: 10px;
}
.f_m_views input[type="text"] {
    width: 573px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #328B8E;
    line-height: 2;
    font-size: 16px;
    color: #328B8E;
    margin-top: 20px;
}

.f_m_views input[type="text"].error {
	border-color: #EB5652;
}

input::-webkit-input-placeholder {
    color:    #328B8E;
}
input:-moz-placeholder {
   color:    #328B8E;
   opacity:  1;
}
input::-moz-placeholder {
   color:    #328B8E;
   opacity:  1;
}
input:-ms-input-placeholder {
   color:    #328B8E;
}

/* ОШИБКА */
input.error::-webkit-input-placeholder {
    color:    #EB5652;
}
input.error:-moz-placeholder {
   color:    #EB5652;
   opacity:  1;
}
input.error::-moz-placeholder {
   color:    #EB5652;
   opacity:  1;
}
input.error:-ms-input-placeholder {
   color:    #EB5652;
}
/* ********** */

input:focus {
    outline:none;
}

.f_m_delivery div:first-child {
	margin-top: 20px;
}

.f_m_views .fm_inline {
	width: 47.5% !important;
	display: inline-block;
}
#fm_time {
    margin-left: 16px;
}
.f_m-menu {
    position: absolute;
    width: 100%;
    top: -20px;
}

.f_m-left {
	float: left;
	background-color: #F6F6F6;
}

.f_m-left.unactive {
	background-color: #F2E6E4;
}

.f_m-right {
	background-color: #F2E6E4;
	float: right;
}

.f_m-right.active {
	background-color: #F6F6F6;
}

.fm_btn {
	height: 35px;
    background-color: #328B8E;
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 185px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

.fm_btn:hover {
	background-color: #10595C;
}

.text_content {
	margin: 20px 0 0 0;
	width: 600px;
	font-family: 'Proxima Nova Light Italic';
	font-size: 16px;
	text-align: left;
	margin-left: -webkit-calc(50% - 600px);
	margin-left: calc(50% - 600px)
}

.text-head {
	color: #48888C;
	font-family: 'Proxima Nova Bold';
	font-size: 36px;
}

.text_content p {
	padding: 0 0 0 15px;
	margin: 20px 0 0 0; 
}

.text-text {
	text-indent: 20px;
}

.instagram {
	z-index: 9999;
	margin: 0 auto;
	width: 1200px;
	height: 50px;
	background-color: #48888C;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        -webkit-box-pack: center;
	        justify-content: center;
}

.instagram-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        -webkit-box-pack: center;
	        justify-content: center;
	color: #FFF;
}

#insta-logo { width: 20px; height: 20px; }

.instagram_fetch {
	z-index: 9999;
	width: 100%;
	height: 100px;
	background-color: #FFF;
}

.footer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
    -ms-flex-align: center;
        -webkit-box-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        -webkit-box-pack: center;
	        justify-content: center;
	margin-top: 40px;
	background-color: #FFF;
}

.footer_content {
	width: 1200px;
	height: 100px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        -webkit-box-pack: center;
	        justify-content: center;
	            -webkit-align-items: center;
	                -ms-flex-align: center;
	                    -webkit-box-align: center;
	                    align-items: center;
}
.footer_content div {
	width: 400px;
}
.footer_content-tl {
	padding-left: 15px;
	margin: 10px 0;
	font-family: 'Proxima Nova Light';
	font-size: 16px;
	color: #666666;
}

.desireevent {
	padding-left: 5px;
	font-family: 'Proxima Nova Light';
	font-size: 18px;
}

#vk_svg, #fb_svg, #insta-svg {
	width: 40px; 
	height: 40px;
	margin: 0 30px;
}

.footer_content-ic {
	text-align: center;
}

.footer_content-tr {
	text-align: right;
	padding-right: 15px;
	font-family: 'Proxima Nova Light';
	font-size: 16px;
	color: #666666;
}

.fb:hover .st1  {
	fill: #3C5A99;
}
.inst:hover .st0  {
	fill: #6600FF;
}
.vk:hover .st0 {
	fill: #52739B;
}
/* ЭФФЕКТ СТРЕЛКИ И ФОНА */
.overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.hovereffect a.arrow {
  right: 96px;
  position: absolute;
  color: #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
          -webkit-transform: translateY(200px);
              -ms-transform: translateY(200px);
                  transform: translateY(200px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hovereffect a.arrowL {
  left: 96px;
  position: absolute;
  color: #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
          -webkit-transform: translateY(200px);
              -ms-transform: translateY(200px);
                  transform: translateY(200px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  cursor: pointer;
}
/* АКТИВНЫЙ ЭЛЕМЕНТ */
.hovereffectactive .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  cursor: pointer;
}
.hovereffectactive a.arrow, .hovereffectactive a.arrowL {
	display: none;
}

.hovereffect:hover a.arrow, .hovereffect:hover a.arrowL{
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
#arrow-r {
	width: 110px;
	height: auto;
	fill: #FFF;
}
#arrow-l {
	width: 110px;
	height: auto;
	fill: #FFF;
}
.decor {
	font-family: 'Cormorant Medium';
	color: #FFF;
	z-index: 99999;
	font-size: 24px;
	right: 109px;
    top: 25px;
    position: absolute;
    cursor: pointer;
}
.decor:hover, .bouquet:hover {
	color: #F8EDE9;
}
.decor:hover #closeX, .bouquet:hover #closeX { fill: #F8EDE9; }
.bouquet {
	font-family: 'Cormorant Medium';
	color: #FFF;
	z-index: 99999;
	font-size: 24px;
	left: 109px;
    top: 25px;
    position: absolute;
    cursor: pointer;
}

.address {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	min-height: 86px;
	z-index: 99999;
	background-color: #3B8B8F;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	        align-items: center; 
	-webkit-transition: height 1s; 
	transition: height 1s;  
	opacity: 0.86;
}

.address-phone {
	color: #FFF;
	padding: 20px;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        -webkit-box-flex: 1;
	        flex-grow: 1;
	font-family: 'Proxima Nova Light';
	font-size: 18px;
}

.address-map {
	min-width: 60px;
	min-height: 86px;
	background-color: #498684;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        -webkit-box-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        -webkit-box-pack: center;
	        justify-content: center;
	font-family: 'Proxima Nova Thin';
	font-size: 12px;   
	color: #FFF;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        -webkit-box-orient: vertical;
	        -webkit-box-direction: normal;
	        flex-direction: column;  
	cursor: pointer; 
		opacity: 0.86; 
}

.address-map:hover {
	background-color: #3B8B8F;
	color: #F8EDE9;
}

.address-map:hover .cls-1 {
	fill: #F8EDE9;
}

#map-icon {
	width: 20px;
	height: 20px;
}

.address_padding {
	padding-top: 10px;
}

.address-big { 
	width: 100%;
	display: none;
	position: relative;
	min-height: 86px;
}

.close_block {
	position: absolute;
	top: 20px;
	right: 20px;
	font-family: 'Proxima Nova Thin';
	font-size: 10px; 
	text-align: center;
	color: #FFF;
	cursor: pointer;
}

.close_block:hover #close {
	fill: #F8EDE9;
}
.close_block:hover {
	color: #F8EDE9;
}

#close { 
	width: 24px; 
	height: 24px;
	fill: #FFF;
}

.address-big-text {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 85px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFF;
    font-family: 'Proxima Nova Light';
    font-size: 18px;
}

.address-big-text div {
	margin-bottom: 10px;
	min-width: 142px;
}

.address-phone_big:before {
   content: "";
   position: absolute;
   left: 10px; 
   width: 15px;
   height: 15px;
   background: url('../images/phone.svg') no-repeat;
}

.address-time_big:before {
   content: "";
   position: absolute;
   left: 10px; 
   width: 15px;
   height: 15px;
   background: url('../images/time.svg') no-repeat;
}

.address-pos_big:before {
   content: "";
   position: absolute;
   left: 10px; 
   width: 15px;
   height: 15px;
   background: url('../images/time.svg') no-repeat;
}
.address-pos_big { height: 120px }

#logo-img {
	width: 200px;
	margin: 10px 20px;
}
.logo {
	position: absolute;
	z-index: 9999;
	cursor: pointer;
}

#closeX {
    position: absolute;
    top: -8px;
    width: 20px;
    fill: #FFF;
    right: -25px;
}

.left_active {
	margin: 20px auto;
    width: 1200px;
    font-family: 'Proxima Nova Light Italic';
    font-size: 16px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.left_active-text {
	width: 800px;
}

.right_active {
	margin: 20px auto;
    width: 1200px;
    font-family: 'Proxima Nova Light Italic';
    font-size: 16px;
    text-align: left;
}

.right_active-text {
    width: 580px;
    text-align: left;
    margin: 0 15px;
}

.right_active-spacer {
	height: 200px;
}